html, body {
    background: #f2f7f8;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c5c5c5;
}